@charset 'utf-8';
@use '@/styles/mixin.scss' as *;

.container {
	display: grid;
	position: relative;
	width: 100%;
	min-height: 100dvh;
	padding-inline: 1.5rem;
	overflow: hidden;
	background-color: var(--colorDarkBg);
	color: var(--colorLightText);
	place-items: center;
}

.outer {
	display: flex;
	width: min(100%, 1080px);
	column-gap: 8vw;

	@include mq-max(lg) {
		display: block;
		width: min(100%, 1024px / 2);
		margin-block: 10vh;
	}
}
