@charset 'utf-8';
@use '@/styles/mixin' as *;

.container {
	position: relative;
	width: 100%;
	padding-inline: 1.5rem;
	overflow: hidden;
	color: var(--textColorDark);
	@include responsive-padding-block-lg(18rem, 'end');
}

.inner {
	position: relative;
	z-index: 1;
	width: 100%;
	height: fit-content;
}

.titleWrapper {
	display: grid;
	position: relative;
	width: 100%;
	height: 100dvh;
	place-items: center;
	@include responsive-margin-block-md(8rem, 'end');
}

.title {
	width: fit-content;
	margin-inline: auto;
	font-family: 'Inter', sans-serif;
	font-size: var(--titleFontSize);
	font-weight: 600;
	line-height: 1;

	span {
		display: inline-block;
	}
}

.img {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	// width: min(100%, 1080px);
	opacity: 0.4;
	translate: -50% 0;
	aspect-ratio: 16 / 9;
	object-fit: cover;
	object-position: top;
	filter: grayscale(1);
	mask: radial-gradient(farthest-side, hsl(0, 0%, 100%) 20%, transparent 100%);
}
