@charset 'utf-8';
@use '@/styles/_mixin.scss' as *;

.container {
	width: 100%;
	// scroll-padding-top: -12rem;

	padding-inline: 1.5rem;
	overflow: hidden;
	scroll-margin-block-start: -12rem;

	@include mq-max(lg) {
		scroll-margin-block-start: -8rem;
	}
	@include mq-max(md) {
		scroll-margin-block-start: -6rem;
	}
	@include mq-max(sm) {
		scroll-margin-block-start: -4rem;
	}
}

.titleWrapper {
	display: grid;
	position: relative;
	width: 100%;
	height: 100dvh;
	place-items: center;
	margin-block: 12rem;

	@include mq-max(lg) {
		margin-block: 8rem;
	}
	@include mq-max(md) {
		margin-block: 6rem;
	}
	@include mq-max(sm) {
		margin-block: 4rem;
	}
}

.title {
	width: fit-content;
	margin-inline: auto;
	font-family: 'Inter', sans-serif;
	font-size: var(--titleFontSize);
	font-weight: 600;
	line-height: 1;
}

.information {
	width: min(100%, 1080px);
	margin-inline: auto;
	container: company / inline-size;
}
.access {
	width: min(100%, 1080px);
	margin-inline: auto;
	container: company / inline-size;
}
