@charset 'utf-8';
@use '../../styles/mixin.scss' as *;

.module {
	width: 100%;
	min-height: 100dvh;
	padding-inline: 1rem;
}

.titleWrapper {
	width: min(100%, 1080px);
	margin-inline: auto;
	// margin-block: 1rem;
	padding-block-start: 10rem;
	border-top: 1px solid hsl(0, 0%, 70%);
}

.title {
	width: fit-content;
	margin-inline: auto;
	font-size: var(--titleFontSize);
	line-height: 1;
}

.outer {
	width: min(100%, 1080px);
	margin-inline: auto;
	container: company / inline-size;
}

.subtitleWrapper {
	margin-block: 2rem;
	overflow: hidden;
}

.subtitle {
	position: relative;
	width: fit-content;
	margin-inline: auto;
	font-size: var(--subTitleFontSize);
	font-weight: lighter;
	line-height: 1;

	/* 	@include mq-max(md) {
		padding-inline-start: 1rem;
	 */
}

.info {
	height: fit-content;
	margin-block-end: 3rem;
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid var(--guideSolidColor);
	border-radius: 8px;
	background-color: hsl(0, 0%, 100%, 0.5);
	font-size: 1rem;

	tbody {
		border-radius: 1rem;
	}

	tr {
		border: 1px solid var(--guideSolidColor);
		text-align: left;
	}

	th {
		position: relative;
		box-sizing: border-box;
		width: calc(100% / 4);
		min-width: 113px;
		padding: 1rem;
		border-right: 1px solid var(--guideSolidColor);
		border-bottom: 1px solid var(--guideSolidColor);
	}

	td {
		padding: 1rem;
		border-bottom: 1px solid var(--guideSolidColor);

		ul {
			display: flex;
			flex-wrap: wrap;
			padding-inline-start: 1rem;
			& li:not(:last-child) {
				margin-inline-end: 2rem;
				line-height: 1.7;
			}
		}
	}
	tr:last-child th,
	tr:last-child td {
		border-bottom-style: none;
	}
}

.access {
	display: flex;
	position: relative;
	width: 100%;
	margin-block-end: 8rem;
	overflow: hidden;
	border: 1px solid var(--guideSolidColor);
	border-radius: 8px;
	background-color: hsl(0, 0%, 100%, 0.5);
}

.location {
	display: flex;
	flex-direction: column;
	width: calc(100% / 4);
}

.textarea {
	display: grid;
	place-items: center;
	width: 100%;
	height: 50%;

	&:first-child {
		border-block-end: 1px solid var(--guideSolidColor);
	}
}

.desc {
	width: 100%;

	h4 {
		position: relative;
		padding-inline-start: 1rem;
	}

	.text {
		width: 100%;
		padding-block-start: 1rem;
		padding-inline: 1rem;

		& > span {
			display: inline-flex;
			align-items: center;

			&:nth-child(2) {
				display: block;
				padding-block-end: 0.5rem;
				padding-inline-start: calc(1rem + 4px);
			}

			&:nth-child(5) {
				display: block;
				padding-inline-start: calc(1rem + 4px);
			}
		}
	}
}

.map {
	width: calc(100% / 4 * 3);
	background-color: hsl(0, 0%, 80%);

	iframe {
		display: block;
		width: 100%;
		transition: all 0.3s ease;
		filter: grayscale(1);
		aspect-ratio: 16 / 9;
	}

	&:hover {
		iframe {
			filter: grayscale(0);
		}
	}
}

@container company (width <= 980px) {
	.access {
		flex-direction: column;
	}
	.location {
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.textarea {
		height: 100%;
		padding-block: 1rem;

		&:first-child {
			border-block-end: none;
		}
		&:last-child {
			border-inline-start: 1px solid var(--guideSolidColor);
		}
	}
	.text {
		width: 100%;
		& > span {
			// display: block;
		}
	}

	.map {
		width: 100%;
		iframe {
			aspect-ratio: 16 / 9;
		}
	}
}
@container company (width <= 576px) {
	.textarea {
		&:last-child {
			border-inline-start: 1px solid var(--guideSolidColor);
		}
	}

	.map {
		iframe {
			aspect-ratio: 4 / 3;
		}
	}
}
@container company (width <= 490px) {
	.location {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.textarea {
		&:last-child {
			border-block-start: 1px solid var(--guideSolidColor);
			border-inline-start: none;
		}
	}

	.map {
		iframe {
			aspect-ratio: 1 / 1;
		}
	}
}

@font-face {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	src: url('../../assets/fonts/icomoon.eot?t6kbep');
	src:
		url('../../assets/fonts/icomoon.eot?t6kbep#iefix')
			format('embedded-opentype'),
		url('../../assets/fonts/icomoon.ttf?t6kbep') format('truetype'),
		url('../../assets/fonts/icomoon.woff?t6kbep') format('woff'),
		url('../../assets/fonts/icomoon.svg?t6kbep#icomoon') format('svg');
	font-display: block;
}

[class^='icon-'],
[class*='icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-transform: none;
	speak: never;
}

.icon-JR {
	padding-inline-end: 4px;
	font-size: 1rem;
	&:before {
		content: '\e900';
		color: hsl(121, 87%, 29%);
	}
}

.icon-TokyoMetro {
	padding-inline-end: 4px;
	font-size: 1rem;
	scale: 0.9;

	.icon-background:before {
		content: '\e901';
		color: hsl(195, 100%, 43%);
	}

	.icon-logo:before {
		content: '\e902';
		margin-left: -1em;
		color: hsl(0, 0%, 100%);
	}
}
