@charset 'utf-8';
@use '../../styles/mixin' as *;

.top {
	position: relative;
	width: 100%;
	height: 100dvh;
	overflow: hidden;
}

.svg {
	display: grid;
	position: absolute;
	width: 100%;
	height: 100dvh;
	place-items: center;
}

.container {
	display: grid;
	position: absolute;
	aspect-ratio: 1 / 1;
	width: min(80vw, 600px);
	place-items: center;
}

.svg_01 {
	position: absolute;
	z-index: -1;
}

.svg_02 {
	position: absolute;
	z-index: -2;
	opacity: 0.8;
	fill: #cfc1af;
	scale: 1.25;
	rotate: -15deg;
}

.svg_03 {
	position: absolute;
	z-index: -3;
	fill: hsl(0, 0%, 100%);
	scale: 1.4;
	rotate: -30deg;
}

.loopContainer {
	position: absolute;
	width: fit-content;
	height: fit-content;
	margin: auto;
	color: hsl(0, 0%, 100%);
	font-family: 'ltc-goudy-oldstyle-pro', serif;
	font-size: clamp(4rem, 1.273rem + 13.64vw, 10rem);
	font-weight: 400;
	letter-spacing: -0.045em;
	inset: 0;
	mix-blend-mode: overlay;
}

.text01 {
	padding-left: 8vw;
	animation: loop 100s linear infinite;
	white-space: nowrap;
}
.text02 {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 8vw;
	animation: loop 100s -50s linear infinite;
	white-space: nowrap;
}

@keyframes loop {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	}
}
