.loopTextTop {
	position: absolute;
	top: -8rem;
	width: fit-content;
	height: fit-content;
	color: var(--textColorDark);
	font-weight: 400;
	letter-spacing: -0.045em;
	mix-blend-mode: overlay;
}
.loopTextMiddle {
	position: absolute;
	width: 100vw;
	height: fit-content;
	margin: auto;
	overflow: hidden;
	color: var(--textColorDark);

	font-weight: 400;
	letter-spacing: -0.045em;
	inset: 0;
	mix-blend-mode: overlay;
	mask: 90deg
		linear-gradient(
			transparent,
			hsl(0, 0%, 100%) 30%,
			hsl(0, 0%, 100%) 70%,
			transparent
		);
}
.loopTextBottom {
	position: absolute;
	bottom: -8rem;
	width: fit-content;
	height: fit-content;
	color: var(--textColorDark);
	font-weight: 400;
	letter-spacing: -0.045em;
	mix-blend-mode: overlay;
}

.preText {
	padding-left: 8vw;
	animation: loop 100s linear infinite;
	white-space: nowrap;
}
.postText {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 8vw;
	animation: loop 100s -50s linear infinite;
	white-space: nowrap;
}

@keyframes loop {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	}
}
