@charset 'utf-8';
@use '../../styles/mixin.scss' as *;

// .titleContainer {
// 	width: min(100%, 1080px);
// 	margin-inline: auto;
// }

.title {
	width: fit-content;
	margin-inline: auto;
	font-family: 'Inter', sans-serif;
	// font-size: var(--titleFontSize);

	font-size: 11vw;
	font-weight: 400;
	line-height: 1;
}

.subTitleContainer {
	width: min(100%, 1080px);
	margin-block: 2rem;
	margin-inline: auto;
	overflow: hidden;
	font-family: 'Inter', sans-serif;
	font-weight: 600;

	@include mq-max(lg) {
		margin-block: 1.5rem;
	}
}

.subTitle {
	width: fit-content;
	font-size: var(--subTitleFontSize);
	font-weight: lighter;
	line-height: 1;

	@include mq-max(md) {
		margin-inline: auto;
	}
}
